
@tailwind base;
@tailwind components;
@tailwind utilities;

#slider-boxes {
    display: flex !important;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    width: fit-content;
}

.slick-slide > div {
    margin: 10px;
    width: fit-content;
}


.slick-arrow, .slick-arrow:before {
    display: none;
}

.btn-activado {
    padding-bottom: 0.5rem;
    border-bottom: solid black;
    font-weight: bold;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@layer components {
    .title-1 {
        font-size: 28px;
        font-weight: 700;
        margin: 16px;

    }
    .title-2 {
        font-size: 24px;
        font-weight: 500;
        margin: 16px;
    }

    .relleno {
        -webkit-text-stroke: 2px white;
    }

    .dorado {
        background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
        background-size: 150%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 200;
        filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
        padding-bottom: 5px;
    }
}